section {
  text-align: center;
}

.cat-pics {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.cat-pics section {
  width: 50%;
}

img {
  width: 100%;
  cursor: pointer;
}
