nav {
  /* set heading color within this nav */
  --heading-color: #fff;

  /* allow custom positioning of child elements */
  position: relative;

  background-color: #1a77fe;
  color: var(--heading-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

.hamburger {
  /* fix hamburger to the left of the navbar */
  position: absolute;
  left: 0px;
  padding: 0 20px;
}

.hamburger a {
  /* remove anchor tag's default styling */
  text-decoration: none;

  /* use heading color */
  color: var(--heading-color);
}

section {
  text-align: center;
}

.cat-pics {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.cat-pics section {
  width: 50%;
}

img {
  width: 100%;
  cursor: pointer;
}
